<%- contentFor('heroImgFull') %>
    /img/hero-full-about.jpg
    <%- contentFor('heroImgThumb') %>
        /img/hero-thumb-about.jpg

        <%- contentFor('heroText') %>
            <h2>About us</h2>
            <p>The three of us make the best products</p>


            <%- contentFor('body') %>
                <section class="jumbotron text-center">
                    <h1>The Team</h1>
                    <div class="row">
                        <% for (user of users) { %>
                            <article data-status="<%= user.status %>" class="users user-summary col-sm-3">
                                <h2>
                                  <%= user.name %>
                                </h2>
                                <img src="<%= user.avatar %>" alt="<%= user.name %>" class="img-responsive">
                                <button <%= user.status %> href="mailto:<%= user.contact.email %>" class="btn btn-default btn-lg">Email</button>
                                <button <%= user.status %> href="tel:<%= user.contact.phone %>" class="btn btn-default btn-lg">Phone</button>
                            </article>
                            <% } %>
                    </section>
                </div>
