<%- contentFor('heroImgFull') %>
    /img/hero-full-contact.jpg
    <%- contentFor('heroImgThumb') %>
        /img/hero-thumb-contact.jpg

        <%- contentFor('heroText') %>
            <h2>Get in touch, <%= data.name %></h2>

            <%- contentFor('body') %>
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <form action="" method="post" enctype="multipart/form-data">
                                <fieldset class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" type="text" id="name" name="name" placeholder="Enter your full name" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="email">Email:</label>
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email address" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" id="description" name="description" placeholder="Enter a short description about yourself"></textarea>
                                </fieldset>
                                <fieldset class="form-group">
                                    <input type="submit" value="Create Profile" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
