<%- contentFor('heroImgFull') %>
    /img/hero-full-about.jpg
    <%- contentFor('heroImgThumb') %>
        /img/hero-thumb-about.jpg

        <%- contentFor('heroText') %>
            <h2><%= data.name %></h2>

            <%- contentFor('body') %>
            <%= data.description %>
